<header id="encabezado" class="fixed-top py-4">
  <div class="container-fluid">
    <div class="row align-items-center">
      <!-- Logo -->
      <div class="col-2">
        <img class="logo" src="assets/imagenes/cepu.png" alt="Logo del sitio web">
      </div>
      <!-- Botones -->
      <!--<div class="col-10 text-end">
        <button type="button" class="btn btn-primary me-2">Botón 1</button>
        <button type="button" class="btn btn-primary me-2">Botón 2</button>
        <button type="button" class="btn btn-primary me-2">Botón 3</button>
        <button type="button" class="btn btn-primary me-2">Botón 4</button>
        <button type="button" class="btn btn-primary me-2">Botón 5</button>
      </div>-->
    </div>
  </div>
</header>

<!-- Contenido principal -->
  <main class="py-5">
    <div class="container py-4 mt-5">
      <h2>DATOS DEL ALUMNO</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="expediente" class="form-label">EXPEDIENTE</label>
            <input type="number" class="form-control" id="expediente" max="1250">
          </div>
          <div class="mb-3">
            <label for="dni" class="form-label">DNI</label>
            <input type="text" class="form-control" id="dni">
          </div>
          <div class="mb-3">
            <label for="nombres" class="form-label">NOMBRES</label>
            <input type="text" class="form-control" id="nombres" disabled>
          </div>
          <div class="mb-3">
            <label for="apellidos" class="form-label">APELLIDOS</label>
            <input type="text" class="form-control" id="apellidos" disabled>
          </div>
          <div class="mb-3">
            <label for="colegio" class="form-label">COLEGIO</label>
            <select class="form-select" id="colegio">
              <option value="colegio1">Colegio 1</option>
              <option value="colegio2">Colegio 2</option>
              <option value="colegio3">Colegio 3</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="imagen" class="form-label" style="padding-left: 40px;">SELECCIONE UNA IMAGEN</label>
            <label for="inputImage" class="btn p-0" style="border: none; background: none;">
              <input type="file" id="inputImage" style="position: absolute; left: -9999px;" accept="image/*">
              <img class="rounded mx-auto d-block" id="previewImage" src="assets/imagenes/cepu.png" alt="Descripción de la imagen" class="img-fluid">
            </label>
          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-primary">GUARDAR</button>
          </div>
        </div>
      </div>
    </div>
  </main>


<!-- Footer -->
<footer id="footer" class="fixed-bottom py-3">
  <div class="container">
    <p>Derechos de autor &copy; 2023</p>
  </div>
</footer>