<header id="encabezado" class="fixed-top py-2">
  <div class="container">
    <h1>Título del sitio web</h1>
    <p>Descripción del sitio web</p>
  </div>
</header>

<!-- Contenido principal -->
  <main class="py-5">
    <div class="container py-4 mt-5">
      <h2>DATOS DEL ALUMNO</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="expediente" class="form-label">EXPEDIENTE</label>
            <input type="number" class="form-control" id="expediente">
          </div>
          <div class="mb-3">
            <label for="dni" class="form-label">DNI</label>
            <input type="number" class="form-control" id="dni">
          </div>
          <div class="mb-3">
            <label for="nombres" class="form-label">NOMBRES</label>
            <input type="text" class="form-control" id="nombres">
          </div>
          <div class="mb-3">
            <label for="apellidos" class="form-label">APELLIDOS</label>
            <input type="text" class="form-control" id="apellidos">
          </div>
          <div class="mb-3">
            <label for="colegio" class="form-label">COLEGIO</label>
            <select class="form-select" id="colegio">
              <option value="colegio1">Colegio 1</option>
              <option value="colegio2">Colegio 2</option>
              <option value="colegio3">Colegio 3</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="imagen" class="form-label">IMAGEN</label>
            <input type="file" class="form-control" id="imagen">
          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-primary">SIGUIENTE</button>
          </div>
        </div>
      </div>
    </div>
  </main>



<!-- Footer -->
<footer id="footer" class="fixed-bottom py-3">
  <div class="container">
    <p>Derechos de autor &copy; 2023 - Sitio web</p>
  </div>
</footer>